*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    border: 2px solid grey;
}

.logo {
    width: 50px;
}

li{
    list-style: none;
}

.nav-items > ul {
    display: flex;
    font-size: 1.2rem;
}

.nav-items > ul > li {
    padding: 0.5rem;
}

.body {
    border: 2px solid red;
}
.filter {
    border: 2px solid black;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.filter-btn {
    padding: 0.8rem;
}

.res-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.res-card {
    padding: 0.3rem;
    margin: 0.3rem;
    width: 250px;
    height: 300px;
}

.res-card:hover {
    cursor: pointer;
    border: 0.2px solid grey;
    box-shadow: 5px 5px 5px 1px rgba(151, 151, 151, 0.2);
}
.res-logo {
    width: 100%;
    height: 50%;
    object-fit: cover;

}

.shimmer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.shimmer-card {
    background-color: rgb(204, 204, 204);
    width: 20vw;
    height: 30vh;
    margin: 1rem;
}

.login {
    padding: 0.5rem;
}